:root {
    --background: #121619; /* Night */
    --dark-color: #3f3573; /* Dark Indigo */
    --primary: #665aa6; /* Main Indigo */
    --dark-accent: #85756E; /* Dark Tan */
    --light-accent: #e3d8c2; /* Light Tan */
    --pop-of-color: #20A4F3;
  }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.container {
    text-align: center;
}

.logout-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--primary);
    /* Green button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color:var(--pop-of-color)
    /* Darker green on hover */
}