/* Color variables */
/* https://coolors.co/121619-2d4739-09814a-a89f61-e5c78a */
:root {
  --background: #121619; /* Night */
  --dark-color: #3f3573; /* Dark Indigo */
  --primary: #665aa6; /* Main Indigo */
  --dark-accent: #85756E; /* Dark Tan */
  --light-accent: #e3d8c2; /* Light Tan */
  --pop-of-color: #20A4F3;
}

/* Body styles */
body {
  background-color: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--light-accent);
  padding: 10px;
  margin-right: 10px;
}

#tunetown-title {
  font-size: 45px;
}

#tunetown-title h1{
  line-height: normal;
  font-size: 35px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  overflow: hidden;
  margin: 5px;
  text-decoration: none;
}

.logo-box img {
  max-width: 85%;
  max-height: 85%;
}

.logo-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  overflow: hidden;
  text-decoration: none;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header-menu a {
  text-decoration: none;
  color: var(--light-accent);
  font-size: 16px;
  padding: 5px 10px
}

.header-menu a:hover,
.header-menu a:focus {
  background-color: var(--pop-of-color);
  border-radius: 5px;
}

/* profile page */

.top-songs h1{
  margin-left: 100px;
}



/* post page */

.container {
  display: flex;
  justify-content: center; 
  margin: 0; 
  padding: 0; 

}

.left, .right {
  margin-top: 5%;
  overflow-y: auto;
}

.left {
  margin-right: auto; 
  flex: 60%;
}

.right {
  margin-left: auto; 
  flex: 40%;
  position: relative;
  top: initial;
  right:initial;
}


.searchTitle h1 {
  text-align: center;

}

.search-box {
  display: flex;
}


.search-box form {
  margin: auto;
  padding-top: 10px;
}

.search-box input[type="text"],
.search-box button, .search-box textarea {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.search-box input[type="text"] {
  width: 200px;
  background-color: #21292e;
  color: var(--light-accent);
}

.search-box input[type="text"]:active, .search-box textarea:active {
  outline: none;
  background-color: #21292e;
  color: var(--light-accent);
}

.search-box input[type="text"]:focus, .search-box textarea:focus {
  outline: none;
  border: none; /* Blue border when focused */
  background-color: var(--light-accent);
  color: var(--background);
}

.search-box textarea {
  resize: none;
  background-color: #21292e;
  color: var(--light-accent);
}


.search-box button:hover {
  background-color: var(--pop-of-color);
  color: var(--light-accent);
  cursor: pointer;
}
.search-box button:active {
  background-color: var(--light-accent);
  color: var(--primary);
  cursor: pointer;
}

.search-box button {
  background-color: var(--primary);
  color: var(--light-accent);
  cursor: pointer;
}

#postSubmit {
  margin-top: 10px;
  min-width: 100%;
}


#searchResults {
  max-height: 800px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  border-radius: 25px;
  margin-top: 10px;
  
}

#searchResults::-webkit-scrollbar {
  display: none;
}

.search-title {
  position: relative;
  top: initial;
  right:initial;
}
.description-box {
  position: relative;
  top: initial;
  right:initial;
}

.description-box {
  margin-top: 0;
}

.right h1 {
  text-align: center;
}
.right #selection {
  color: var(--pop-of-color);
  text-align: center;
}



/* Song cards specific for home.html */
.song-card {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px auto;
  /* Smaller margin */
  padding: 10px;
  /* Smaller padding */
  max-width: 75%;
  /* Smaller width */
}

.album-cover {
  width: 80%;
  /* Adjust based on your preference */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  /* Center the image */
  margin-left: auto;
  margin-right: auto;
}

.song-info h2,
.song-info p {
  margin: 5px 0;
}

/* Header styles */
.header {
  padding: 20px;
  text-align: center;
}

h1 {
  color: var(--light-accent);
  font-size: 20px;
  text-decoration: none;
}

/* Profile picture styles */
.header .profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  color: var(--light-accent);
}

.profile-info {
  background-color: var(--background);
  padding: 20px;
  text-align: center;
  color: var(--light-accent);
}

.profile-info h3 {
  color: var(--dark-color);
  font-weight: normal;
}

.profile-info a {
  color: var(--pop-of-color);
  text-decoration: none;
}
.profile-info a:hover{
  color: var(--primary);
  text-decoration: none;
}
.profile-info a:active{
  color: var(--dark-accent);
  text-decoration: none;
}

/* Profile info styles */
.header .profile-info {
  margin-top: 20px;
}


/* CARDS */
.song-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.song-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px; /* Each item spans the full width of the column */
  margin: 24px;
  padding: 24px;
  background-color: var(--primary);
  border-radius: 24px;
}

.song-img {
  width: 100%;
  object-fit: cover;
}

.song-img img {
  height: 225px;
  border-radius: 24px;
  cursor: pointer;
  transition: transform 1s ease;
  overflow: hidden;
}

.song-img :hover {
  transform: scale(1.05);
}

.song-cards h4 {
  font-size: 14px;
  margin-bottom: 0;
  color: var(--light-accent);
}

.song-cards p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: var(--background);
}




/* feed */

.feed-head {
  color: var(--light-accent);
  text-align: center;
}

.feed-head h4 {
  color: var(--dark-accent);
}

.song-scroll {
  align-content: center;
  margin-bottom: 10px;
  align-items: center;
  
}

.song-scroll .album-cover-feed {

  height: auto;
  border-radius: 25px 0px 0px 25px;
  object-fit: cover;
  max-width: 250px;
}

.song-scroll .song-info-feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--light-accent);
}

.song-scroll .song-card-feed {
  display: flex;
 /* Adjust spacing between song cards */
  padding-right: 20px;
  background-color: var(--primary);
  border-radius: 25px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.song-scroll .song-info-feed h2, .song-scroll .song-info-feed p {
  color: var(--light-accent);
  margin-left: 20px;
}

.song-scroll .song-interaction, .song-scroll .comments-section{
  display: flex;
  float: right;
  margin-left: 20px;
  flex: 1;
}


.song-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-button {
  background-color: var(--pop-of-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.likes {
  align-items: center;
  text-align: right;
  color: var(--background);
  align-content: center;
  padding-right: 10px;
}

.comments-section {
  margin-bottom: 20px;
}

.comments-section input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.song-card a:hover {
  text-decoration:underline;
  color: var(--light-accent);
}





/* ----------------- */










.musicnotes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }

  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }

  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

/* Footer styles */
.footer {
  padding: 20px;
  text-align: center;
  background-color: var(--dark-color);
}

/* Footer link styles */
.footer a {
  margin-right: 10px;
  color: var(--light-accent);
  text-decoration: none;
}