/* Body styles */
body {
  background-color: #68716a;
  font-family: gill sans, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

.ttheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #68716a;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure the header is always on top */
}

.tunetown-logo {
  font-size: 45px;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
  object-fit: cover;

}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px
}

.header-menu a:hover,
.header-menu a:focus {
  background-color: #93C572;
  border-radius: 5px;
}

.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"],
.search-box button {
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.search-box input[type="text"] {
  width: 200px;
  border: 1px solid #ddd;
}

.search-box button {
  background-color: #fff;
  color: #93C572;
  cursor: pointer;
}

/* Song cards specific for home.html */
/* Song cards specific for home.html */
.song-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  /* Smaller margin */
  padding: 10px;
  /* Smaller padding */
  max-width: 75%;
  /* Smaller width */
}

.album-cover {
  width: 80%;
  /* Adjust based on your preference */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  /* Center the image */
  margin-left: auto;
  margin-right: auto;
}

.song-info h2,
.song-info p {
  margin: 5px 0;
}

.song-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.like-button {
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.comments-section input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  /* Include padding and border in the element's total width */
}

/* Header styles */
.header {
  background-color: #1DB954;
  padding: 20px;
  text-align: center;
}

/* Profile picture styles */
.header .profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Profile info styles */
.header .profile-info {
  margin-top: 20px;
}

/* Photo grid styles */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

/* Individual photo styles */
.photo-grid .photo {
  border-radius: 5px;
  overflow: hidden;
}

/* Photo image styles */
.photo-grid .photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.musicnotes {
  display: block;
  margin: auto;
  position: relative;
  width: 50%;
  min-width: 300px;
  height: 200px;
  border: 0px solid #000;
}

.noot-1,
.noot-2,
.noot-3,
.noot-4 {
  position: absolute;
  animation: notes 2s infinite linear;
  font-size: 35px;
  opacity: 0;
}

.noot-1 {
  top: 60px;
  left: 0;
  animation-delay: 0.5s;
}

.noot-2 {
  top: 30px;
  left: 30%;
  animation-delay: 1s;
}

.noot-3 {
  top: 90px;
  left: 60%;
  animation-delay: 1.5s;
}

.noot-4 {
  top: 40px;
  left: 90%;
  animation-delay: 2s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }

  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }

  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}

/* Footer styles */
.footer {
  padding: 20px;
  text-align: center;

}

/* Footer link styles */
.footer a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}