<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/css/styles.css" />

    <style>
      p, label {
        color: white;
      }


    </style>
  </head>

  <body>

    <div class="container">
      <div class="left">
    
        <div class="searchTitle">
          <h1>Search for a Song</h1>
        
    
        <div class="search-box">
          <form action="/create" method="POST" onsubmit="return displaySearch()">
            <br>
            <input
              type="text"
              id="search_query"
              name="search_query"
              placeholder="Search for songs, artists..."
            />
            <button type="submit">Search</button>
          </form>
        </div>
      </div>
    
        <br>
    
        <div class="song-cards" id="searchResults"></div>

      </div>
      <div class="right">
    
        <div class="description-box">
        <div class="search-box">
          <form action="/post_song" method="POST" id="postForm">
            <h1>Selected Song</h1>
          <p div="song-card" id="selection"></p>
            <!-- songId received from search selection -->
            <input type="hidden" id="songIdInput" name="songIdInput" />
    
            <label for="postDescription"></label><br />
            <textarea
              id="postDescription"
              name="postDescription"
              rows="4"
              cols="50"
              placeholder="Enter a caption here..."
            ></textarea>
    
    
            <br>
            <button id="postSubmit" type="submit">Post</button>
          </form>
        </div>
        </div>
      </div>
    </div>


    <script>
      function isSongIdSelected() {
        const songId = document.getElementById("songIdInput").value;
        return songId !== "";
      }


      document.getElementById("postForm")
        .addEventListener("submit", function (event) {
          // Prevent form submission if songId is not selected
          if (!isSongIdSelected()) {
            event.preventDefault();
            alert("Please select a song before submitting.");
          }
        });

      function displaySearch() {
        const searchInput = document.getElementById("search_query").value;

        fetch("/create", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ search_query: searchInput }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Handle response data and update DOM
            console.log(data);

            // Update DOM based on response data
            searchResultsContainer = document.getElementById("searchResults")

            // Clear previous search results
            searchResultsContainer.innerHTML = "";

            if (searchInput !== "") {
              for (let i = 0; i < data.length; i++) {
                const song = data[i];
                const songCard = document.createElement("div");
                songCard.classList.add("song-card"); // Add class to card

                songCard.addEventListener("click", function () {
                  // Capture songId
                  const songId = song[4]; // Assuming songId is at index 4
                  console.log("Clicked songId:", songId);
                  document.getElementById("songIdInput").value = songId;

                  const postSubmit = document.getElementById("postSubmit");
                  postSubmit.disabled = !isSongIdSelected();

                  document.getElementById("selection").textContent = song[1] + " by " + song[2];
                });

                const songImg = document.createElement("div");
                songImg.classList.add("song-img"); // Add class to image container

                const imgElement = document.createElement("img");
                imgElement.src = song[0]; // Assuming pic URL is at index 0
                imgElement.alt = "not found";

                songImg.appendChild(imgElement);

                const songName = document.createElement("h4");
                songName.textContent = song[1]; // Assuming name is at index 1

                const artistName = document.createElement("p");
                artistName.textContent = song[2]; // Assuming artist is at index 2

                songCard.appendChild(songImg);
                songCard.appendChild(songName);
                songCard.appendChild(artistName);

                searchResultsContainer.appendChild(songCard);
              }
            } else {
              searchResultsContainer.textContent = "No results found.";
            }

          })
          .catch((error) => {
            console.error("Error:", error);
          });

        return false;
      }
    </script>
  </body>
</html>
