<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post a Song</title>
  </head>
  <body>
    <h2>Enter Song Title and Description</h2>

    <form action="/post" method="post">
      <label for="selection">Title:</label><br />
      <input
        type="text"
        id="selection"
        name="selection"
        placeholder="Choose song title"
      /><br /><br />

      <label for="description">Description:</label><br />
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
        placeholder="Enter post description here"
      ></textarea
      ><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
