<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuneTown Profile</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <script>
    // Function to play or pause audio
    function toggleAudio(audioElement) {
      if (audioElement.paused) {
        audioElement.play();
      } else {
        audioElement.pause();
      }
    }

    // JavaScript to display the flash message as an alert
    document.addEventListener('DOMContentLoaded', function() {
      var message = "{{ get_flashed_messages() }}";
      if (message && message.length > 2) { // Length > 2 to account for '[]'
        var startIndex = message.indexOf("&#39;") + 5; // Adjust based on the actual structure of the message
        var endIndex = message.lastIndexOf("&#39;");
        var actualMessage = message.substring(startIndex, endIndex);
        alert(actualMessage);
      }
    });
  </script>

  <div class="top-menu">
    <div class="logo-box">
      <a href="/"><img src="/static/img/tune-town-logo-withname.png" alt="TuneTown" /></a>
    </div>

    <div id="tunetown-title"></div>
    <div class="header-menu">
      <a href="/">Profile</a>
      <a href="#">About</a>
      <a href="/feed">Feed</a>
      <a href="/create">Post a Song!</a>
    </div>
  </div>

  <body>
    <div class="header">
      <img class="profile-pic" src="{{ pfp }}" alt="Profile Picture" />
      <div class="profile-info">
        <h2>{{ username }}</h2>
        <h3><a href="/">@{{ id }}</a></h3>
        <p>
          Bio: This is my TuneTown profile! I will post my favorite songs here!
        </p>
      </div>
    </div>

    <div class="top-songs">
    <h1>These are the top songs I have been listening to recently:</h1></div>
    <div class="song-cards">
      {% for pic, name, artist, preview, id, url in topSongsData %}
      <div class="song-card">
        <div class="song-img">
          <audio class="musicPlayer" src="{{ preview }}"></audio>
          <img
            class="playButton"
            src="{{ pic }}"
            alt="not found"
            onclick="toggleAudio(this.previousElementSibling)"
          />
        </div>
        <a href ='{{url}}'><h4>{{ name }}</h4></a>
        <p>{{ artist }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="top-songs">
    <h1>Here are the songs I want you to check out:</h1></div>
    <div class="song-cards">
      {% for pic, name, artist, preview, id, url in myPostsData %}
      <div class="song-card">
        <div class="song-img">
          <audio class="musicPlayer" src="{{ preview }}"></audio>
          <img
            class="playButton"
            src="{{ pic }}"
            alt="not found"
            onclick="toggleAudio(this.previousElementSibling)"
          />
        </div>
        <a href ='{{url}}'><h4>{{ name }}</h4></a>
        <p>{{ artist }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="musicnotes">
      <div class="noot-1">&#9835; &#9833;</div>
      <div class="noot-2">&#9833;</div>
      <div class="noot-3">&#9839; &#9834;</div>
      <div class="noot-4">&#9834;</div>
    </div>

    <div class="footer">
      <a href="/feed">Feed</a>
      <a href="/">Profile</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
