<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuneTown Profile</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <script>
    // Function to play or pause audio
    function toggleAudio(audioElement) {
      if (audioElement.paused) {
        audioElement.play();
      } else {
        audioElement.pause();
      }
    }
  </script>

  <div class="top-menu">

    <div class="logo-box">
      <img src="/static/img/tunetown.png" alt="logo" />
    </div>

    <div id="tunetown-title">TuneTown</div>
    <div class="header-menu">
      <a href="#">Profile</a>
      <a href="#">About</a>
      <a href="#">Discover</a>
      <div class="search-box">
        <form action="/search" method="get">
          <input type="text" name="search" placeholder="Search..." />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>

  <body>
    <div class="profile">
      <img class="profile-pic" src="{{ pfp }}" alt="Profile Picture" />
      <div class="profile-info">
        <h2>{{ username }}</h2>
        <h3><a href="http://localhost:5000">@{{ id }}</a></h3>
        <p>
          Bio: This is my TuneTown profile! I will post my favorite songs here!
        </p>
      </div>
    </div>

    <h1>These are the top songs I have been listening to recently:</h1>
    <div class="song-cards">
      {% for pic, name, artist, preview in songData %}
      <div class="container">
        <div class="left-box">
          <div class="song-img">
            <audio class="musicPlayer" src="{{ preview }}"></audio>
            <img
              class="playButton"
              src="{{ pic }}"
              alt="not found"
              onclick="toggleAudio(this.previousElementSibling)"
            />
          </div>
        </div>
        <div class="right-box">
          <div class="top-half">
            <h2>{{ name }}</h2>
          </div>
          <div class="bottom-half">
            <h5>{{ artist }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="musicnotes">
      <div class="noot-1">&#9835; &#9833;</div>
      <div class="noot-2">&#9833;</div>
      <div class="noot-3">&#9839; &#9834;</div>
      <div class="noot-4">&#9834;</div>
    </div>

    <div class="footer">
      <a href="/home">Home</a>
      <a href="/profile">Profile</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>

