<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <h1>Search for a Song</h1>
    <form action="/search" method="post">
      <input
        type="text"
        name="search_query"
        placeholder="Search for songs, artists..."
      />
      <button onclick="displaySearch()" type="submit">Search</button>
    </form>

    <script>
      function displaySearch() {
        const searchInput = document.getElementById("search_query").value;
        const searchResultsContainer = document.createElement('div');
        let html = '';

        // Clear previous search results
        searchResultsContainer.innerHTML = '';

        if (searchInput !== '') {
          html += `
                <div class="song-cards">
                    {% for pic, name, artist, preview in songData %}
                    <div class="song-card">
                        <div class="song-img">
                        <audio class="musicPlayer" src="{{ preview }}"></audio>
                        <img
                            class="playButton"
                            src="{{ pic }}"
                            alt="not found"
                            onclick="toggleAudio(this.previousElementSibling)"
                        />
                        </div>
                        <h4>{{ name }}</h4>
                        <p>{{ artist }}</p>
                    </div>
                    {% endfor %}
                </div>
            `;
            searchResultsContainer.innerHTML = html;
        } else {
            searchResultsContainer.textContent = 'No results found.';
        }
        
      }
    </script>
  </body>
</html>
